.dialog {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.divAlertGeneral {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  margin: auto;

  background-color: black;
  border-image: linear-gradient(135deg, #ece2d9, #fbcea0 66%, #fbcfa0) 1;
  border-width: 4px;
  border-style: solid;

  color: #fbcea0;

  width: 350px;
  margin-top: 25px;
  padding-bottom: 10px;
}

.divAlertContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloAlert {
  text-align: center;
  font-size: xx-large;
  margin: 10px 0px 0px;
}
