body {
  background: url("/imagenes/fondo/fondoConjuros.jpg") no-repeat center center
    fixed;
  background-size: cover;
  height: 100vh;
  background-position: static;
}

.divbody {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formConjurosAdd {
  max-width: 1400px;
  width: 90%;
  padding: 20px;
  flex-wrap: wrap;

  background-color: rgba(0, 0, 0, 0.7);

  border-image: linear-gradient(135deg, #ece2d9, #fbcea0 66%, #fbcfa0) 1;
  border-width: 4px;
  border-style: solid;
}

.filaForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

.filaForm > div {
  display: flex;
  flex-direction: column;
  padding: 10px 8px;
}

.divInputCheck,
select {
  width: 200px;
}

.divbody,
.divInputCheck,
.divInputCheckClases {
  text-align: center;
}

.divInputText input {
  padding: 0;
  width: 196px;
}

textarea {
  width: 100%;
}
.labelError {
  height: 18px;
  text-align: center;
  color: red;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  margin: 10px;
  font-family: tiamatRegular;
  background: linear-gradient(135deg, #fff, #fbcea0 66%, #fbcfa0);
  border: none;
  color: black;
  padding: 8px 16px;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .filaForm > div {
    padding: 12px;
  }

  .divInputText input {
    width: 266px;
  }

  select {
    width: 270px;
  }

  .divInputCheck {
    width: 20%;
  }
}

@media only screen and (max-width: 704px) {
  .divInputCheckClases {
    width: 18%;
  }

  .divInputText,
  .divInputText input {
    width: 100%;
  }

  .divSelect,
  .divSelect select {
    width: 100%;
  }
}

@media only screen and (max-width: 431px) {
  .divInputCheckClases {
    width: 30%;
  }
}
