footer {
  height: 180px;
  background-image: url("/imagenes/fondo/fondoPie.png");
  color: #fbcfa0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

footer > img {
  width: 125px;
  height: 50px;
  margin: 20px;
}

footer > p {
  margin: 20px;
}
