header {
  height: 180px;
  background-image: url("/imagenes/fondo/fondoCabecera.png");
  color: #fbcfa0;
}

header a:hover {
  color: white !important;
}

.cabeceraPrincipal {
  display: flex;
  flex-direction: column;

  padding: 10px 25px;
}

.cabeceraSuperior {
  display: flex;
  padding-bottom: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.divMenuNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin: 20px;
}

.divMenuNav > ul {
  padding: 0px;
}

.cabeceraSupBotonesCerrar {
  display: flex;
  flex-direction: column;
}

.cabeceraSupBotones {
  height: 120px;
}
.cabeceraSupBotones,
.cerrarSesion {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cerrarSesion img {
  margin-left: 10px;
}
.iconoSesion {
  width: 20px;
  height: 20px;
}

.cabeceraInferior {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.botonNavMovil {
  width: 40px;
  height: 40px;
  display: none;
}

@media only screen and (max-width: 900px) {
  .cabeceraSuperior {
    justify-content: center;
  }

  .cabeceraSupBotones {
    display: none;
  }

  .cabeceraInferior {
    justify-content: center;
  }

  .botonNavMovil {
    display: block;
  }

  .divMenuNav {
    display: none;
  }
}

.cabeceraSupLogo {
  width: 250px;
  height: 100px;
}

/*Menu navegación*/
ul {
  list-style: none;
}

.menuNavPantalla a {
  text-decoration: none;
  color: #fbcfa0;
}

.menuNavPantalla > li {
  float: left;
  padding: 0px 10px;
}

.divNavAbsoluto {
  color: #fbcfa0;
  position: absolute;
  top: 0;
  display: none;
  min-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  z-index: 10000;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divNavAbsoluto h1 a {
  text-decoration: none;
  color: #fbcfa0;
}

.divNavAbsoluto h1 a:hover {
  color: #fff;
}

.divNavAbsoluto button a {
  text-decoration: none;
  color: black;
}

.divNavAbsoluto button {
  margin: 0px 10px;
}

.divNavAbsoluto img {
  width: 40px;
  height: 40px;
}

.menuNavAbsoluto h1 {
  text-decoration: none;
  color: #fbcfa0;
}
