.columnaNivelProg,
.columnaProficienciaProg,
.columnaInfo1Prog,
.columnaInfo2Prog {
  width: 100px;
}

.columnaCaracteristicasProg {
  width: 200px;
}

.filaMagiaExtra {
  display: flex;
  flex-direction: row;
  justify-content: right;
  text-align: center;
  width: 900px;
}

.columnaMagiaExtra {
  width: 300px;
}

.columnaHuecoProg {
  width: 50px;
}
