<div className="divTabla">
  <div className="tablaHead">
    <div className="headImagen"></div>
    <div className="headNombre"></div>
    <div className="headNivel"></div>
    <div className="headEscuela"></div>
    <div className="headTiempo"></div>
    <div className="headRangoAlcance"></div>
    <div className="headComponentes"></div>
  </div>
  <div className="filaSuperior">
    <div className="filaImagen"></div>
    <div className="filaNombre"></div>
    <div className="filaNivel"></div>
    <div className="filaEscuela"></div>
    <div className="filaTiempo"></div>
    <div className="filaRangoAlcance"></div>
    <div className="filaComponentes"></div>
  </div>
  <div className="filaInferior"></div>
</div>
