* {
}

i *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: tiamat;
  src: url("/fuentes/tiamat.woff");
}

h1,
h2,
h3,
.tiamat {
  font-family: tiamat;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  color: black;
  background-repeat: repeat;
  /*background-image: url("/imagenes/fondo/fondoHumo.jpg");
  background-size: cover;
  background-attachment: fixed;*/
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fbcea0;
  cursor: pointer;
  transition: border-color 0.25s;
}

#root {
  min-height: 100vh;
}

input,
select {
  padding: 5px 2px !important;
}

body {
  background: url("/imagenes/fondo/fondoGeneral.jpg") no-repeat center center
    fixed;
  background-size: cover;
  background-position: static;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

select,
input {
  background-color: black;
  color: #fbcea0;

  border-image: linear-gradient(135deg, #ece2d9, #fbcea0 66%, #fbcfa0) 1;
  border-width: 2px;
  border-top-style: solid;
}
